body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

header {
  padding-top: 2em;
  padding-bottom: 2em;
  padding-right: 12em;
  padding-left: 12em;
  border-bottom: 2px solid rgb(0, 0, 0, .2);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

main {
  display: flex;
  justify-content: center;
}

.card-area {
  display: flex;
  flex-wrap: wrap;
  width: 70vw;
}

.card-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1em;
}

.card-container:hover {
  background: radial-gradient(closest-side, purple, white);
  background-size: cover;
}

.card {
  height: 300px;
  aspect-ratio: 202/374;
  border-radius: 5%;
  transform: none;
  transition: transform .3s ease-in-out;
}

.card:hover {
  transform: scale(98%);
}


#zero {
  background: url("./cards/0.jpg");
  background-size: cover;
}

#one {
  background: url("./cards/1.jpg");
  background-size: cover;
}

#two {
  background: url("./cards/2.jpg");
  background-size: cover;
}

#three {
  background: url("./cards/3.jpg");
  background-size: cover;
}

#four {
  background: url("./cards/4.jpg");
  background-size: cover;
}

#five {
  background: url("./cards/5.jpg");
  background-size: cover;
}

#six {
  background: url("./cards/6.jpg");
  background-size: cover;
}

#seven {
  background: url("./cards/7.jpg");
  background-size: cover;
}

#eight {
  background: url("./cards/8.jpg");
  background-size: cover;
}

#nine {
  background: url("./cards/9.jpg");
  background-size: cover;
}

#ten {
  background: url("./cards/10.jpg");
  background-size: cover;
}

#eleven {
  background: url("./cards/11.jpg");
  background-size: cover;
}

#twelve {
  background: url("./cards/12.jpg");
  background-size: cover;
}

#thirteen {
  background: url("./cards/13.jpg");
  background-size: cover;
}

#fourteen {
  background: url("./cards/14.jpg");
  background-size: cover;
}

#fifteen {
  background: url("./cards/15.jpg");
  background-size: cover;
}

#sixteen {
  background: url("./cards/16.jpg");
  background-size: cover;
}

#seventeen {
  background: url("./cards/17.jpg");
  background-size: cover;
}

#eighteen {
  background: url("./cards/18.jpg");
  background-size: cover;
}

#nineteen {
  background: url("./cards/19.jpg");
  background-size: cover;
}

#twenty {
  background: url("./cards/20.jpg");
  background-size: cover;
}

#twentyone {
  background: url("./cards/21.jpg");
  background-size: cover;
}
